body {
    background-color: hsl(344, 38%, 38%);
    font-family: sans-serif;
    color: #FFF5EF;
    font-weight: 100;
}

h1, h2 {
    font-weight: 100;
    letter-spacing: 10px;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

.page-title {
    text-align: center;
}

.lyric {
    padding:10px;
    color: hsl(344, 38%, 38%);
    text-align: center;
}

.lyric-window {
    border: 2px solid;
    border-radius: 10px;
    width: 30%;
    background-color: #FFF5EF;
}

.video-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    grid-gap: 30px;
    padding: 10px;
}

.video {
    width: 560px;
    height: 315px;
    margin: auto;
 
}

input, textarea {
    width: 30%;
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background-color: #FFF5EF;
    border: 1px solid black;
    border-radius: 10px;
    display:grid;
    color:hsl(344, 38%, 38%)
}

#song-ul {
    list-style: none;
    /* border: 2px solid black; */
    width: 30%;
    text-align: center;
    float: right;
    color: hsl(344, 38%, 38%)
}

.up, .down {
    border: none;
    margin: 5px;
    background: none;
    font-size: 20px;
    cursor: pointer;
    
}


.song {
    padding:10px;
    border: 2px solid black;
    text-align: center;
    background-color: #FFF5EF;

}

#vote-component {
    text-align: right;
    margin: 0 10% 0 0;
}

#moment-list {
    float: right;
    width: 50%;
}