body {
    background-color: hsl(344, 38%, 38%);
    font-family: sans-serif;
    color: #FFF5EF;
    font-weight: 100;
}

h1, h2 {
    font-weight: 100;
    letter-spacing: 10px;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

.page-title {
    text-align: center;
}

.lyric {
    padding:10px;
    color: hsl(344, 38%, 38%);
    text-align: center;
}

.lyric-window {
    border: 2px solid;
    border-radius: 10px;
    width: 30%;
    background-color: #FFF5EF;
    float: right;

}

.video-container {
    display: grid;;
}

.video {
    width: 25%;
    padding: 1%;
 
}