body {
    background-color: hsl(344, 38%, 38%);
    font-family: sans-serif;
    color: #FFF5EF;
    font-weight: 100;
}

h1, h2 {
    font-weight: 100;
    letter-spacing: 10px;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    margin: 2%;
    font-size: 4vw;
}

h2 {
    font-size: 2vw;
}

.page-title {
    text-align: center;
}

.lyric {
    padding:10px;
    color: hsl(344, 38%, 38%);
    text-align: center;
    font-size: 1.5vw;
}

.lyric-window {
    border: 2px solid;
    border-radius: 10px;
    width: 30%;
    background-color: #FFF5EF;
    text-align: center;
    margin: 4% auto;
}

.video-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-content: space-evenly;
    margin: 1%;
    grid-gap: 30px;
    padding: 10px;
}

.video {
    width: 100%;
    height: 30vh;
    margin: auto;
 
}

input, textarea {
    display: inline-block;
    width: 50%;
    margin: 10px;
    padding: 12px 20px;
    background-color: #FFF5EF;
    border: 1px solid black;
    border-radius: 10px;
    display:grid;
    color:hsl(344, 38%, 38%)
}

#song-ul {
    list-style: none;
    /* width: 30%; */
    color: hsl(344, 38%, 38%);
    /* margin: auto; */
    padding: 10px;
    margin: auto;
    text-align: center;
}

.up, .down {
    border: none;
    margin: 5px;
    background: none;
    font-size: 20px;
    cursor: pointer;
    
}

.song {
    padding:10px;
    border: 2px solid black;
    background-color: #FFF5EF;
    font-size: 1.5vw;
}

.moments {
    color: hsl(344, 38%, 38%);
    padding: 0 20px;
}

#save-songs {
    margin: 10px;
    padding: 10px;
    text-align: center;;
}

#rank-header {
    text-align: center;
}

#flex-container {
    display: flex;
    margin: 2%;
}

#vote-container {
    flex: 1;
    margin: auto;
}

#image-container {
    margin: auto;
    flex: 1;
}

.stacked-img {
    width: 80%;
    display: block;
    padding: 10px;
}

#add-container {
    margin: 5% 1% 1% 5%;
    width: 40%;
    float: left;
}

#moment-list {
    float: right;
    width: 48%;
    border-radius: 10px;
    background-color:#FFF5EF;
    margin: 10% 5% 1% 1%;
}

#moment-submit {
    border-radius: 10px;
    padding: 10px;
    margin: 3%;
    background: none;
    color: #FFF5EF;
    font-size: 20px;
    letter-spacing: 2px;
    border: 5px double #FFF5EF;
}

#rank-button {
    display: block;
    text-align: center;
    margin: 3% auto;

}

.button {
    border-radius: 10px;
    padding: 10px;
    margin: 3%;
    background: none;
    color: #FFF5EF;
    font-size: 20px;
    letter-spacing: 2px;
    border: 5px double #FFF5EF;
}

#home-img {
    padding: 10px;
    width: 75%;
    text-align: center;
    margin: 5% auto;
    display:block;
}

#add-moment {
    color: #FFF5EF;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px;

}

#moment-img {
    width: 70%;
    margin: 10% auto;
    padding: 5%;
    text-align: center;
    display: block;
}

.subheader {
    font-weight: 100;
    letter-spacing: 5px;
    padding: 10px;
    text-decoration: underline double;
    text-underline-offset: 10px;
    font-size: 2vw;
}

.album-covers {
    width: 20%;
}